<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.radio_button(:solution_id, @question.answers[0].id) %>
    <%= form.label @question.answers[0].content %>
    <%= form.radio_button(:solution_id, @question.answers[1].id) %>
    <%= form.label @question.answers[1].content %>
    <%= form.radio_button(:solution_id, @question.answers[2].id) %>
    <%= form.label @question.answers[2].content %>
    <%= form.radio_button(:solution_id, @question.answers[3].id) %>
    <%= form.label @question.answers[3].content %>
  </div>

  <div class="actions">
    <%= form.submit "Save Question" %>
  </div>
<% end %>
