
  <div class="jumbotron">
  <h1> <%= @test.name %></h1>

<p> Read each question and answer choice carefully and choose the ONE best answer. </p>
  </div>

    <form>
      <% question_count = 1%>
      <% @questions.each do |question | %>
          <div class="card">
          <div class="card-header"> <strong> Q<%= question_count%>: <%= question.description%> </strong> </div>
          <div class="card-body">
              <input type="radio" name="Question <%= question_count %>" value="1" > <%= question.answers[0].content %><br>
              <input type="radio" name="Question <%= question_count %>"  value="2">  <%= question.answers[1].content %><br>
              <input type="radio" name="Question <%= question_count %>"  value="3">  <%= question.answers[2].content %><br>
              <input type="radio" name="Question <%= question_count %>"  value="4">  <%= question.answers[3].content %><br>
            </div>
          </div>
          <br />
      <% question_count += 1 %>

      <% end %>

      <p style="text-align: left">
      <input type="submit" value="Submit Test" formmethod="post" class="btn btn-primary" >
      </p>
    </form>
  </div>
