<div class="card">
<div class="card-header">
<h1>User Account</h1>
</div>
<div class="card-body">

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong> Role: </strong> 
  <% if @user.is_teacher %>
  <%= "Teacher" %>
  <% else %>
  <%= "Student" %>
  <% end>%>

</p>

<%= link_to 'Edit Account Details', edit_user_path(@user), :class=>"btn btn-primary" %> 

</div>
</div>
