
<h2>User Account</h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong> Role: </strong> 
  <% if @user.is_teacher %>
  <%= "Teacher" %>
  <% else %>
  <%= "Student" %>
  <% end>%>

</p>

<%= link_to 'Edit Account', edit_user_path(@user), :class=>"btn btn-outline-primary" %> 
