<div class="card">
<div class="card-header">
<h1>User Account</h1>
</div>
<div class="card-body">

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong> Role: </strong> 
  <% if @user.is_teacher %>
  <%= "Teacher" %>
  <% else %>
  <%= "Student" %>
  <% end>%>

</p>

<%= link_to 'Edit Account Details', edit_user_path(@user), :class=>"btn btn-primary" %> 

<br />
<br />
<p>Test History</p>

<% @tests = CompletedTest.where({user_id: current_user.id}) %>
 <% @tests.each do |test| %>
 <p><strong> <%=Test.find(test.id).name%></strong><br /> Score: <%=test.score%> %<br /> Date Taken: <%=test.created_at %></p>
 <% end %>
</div>
</div>
