<%= form_with(model: test, local: true) do |form| %>
  <form>
    <% if test.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
        <ul>
          <% test.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control", placeholder: "Enter Description" %>
    </div>
        <div class="form-group">
      <%= form.label :points %>
      <%= form.text_field :points, class: "form-control", placeholder: "Enter points" %>
    </div>
    
    
    <div class="form-group">
      <%= form.label :beginner %>
      <%= form.radio_button :level, "Beginner"%>
      <%= form.label :intermediate %>
      <%= form.radio_button :level, "Intermediate" %>
      <%= form.label :advanced %>
      <%= form.radio_button :level, "Advanced" %>
    </div>


    <div class="actions">
      <%= form.submit "Save", class: "btn btn-primary"%>
    </div>
  </form>
<% end %>
