<p id="notice"><%= notice %></p>
<div class="container">
  <% @tests.each do |test| %>
    <div class="card">
      <div class="card-header">
       <strong> <h3><%= test.name %> </h3></strong>
      </div>
      <div  class="card-body">
      <p>Description: <%= test.description %></p>
      <p>Level: <%= test.level %></p>
      <p>Question points: <%= test.points %></p>

      <p>

          <%= link_to 'Start Quiz', "/start_test/#{test.id}",  class: "btn btn-primary"%> 

      </p>

 
      <small> <%= link_to 'View', test %> <%= link_to 'Edit ', edit_test_path(test) %> <%= link_to 'Delete ', test, method: :delete, data: { confirm: 'Are you sure?' } %></small>

    </div>
    </div>
    <br />
  <% end %>
  <%= link_to 'New Test', new_test_path %>
