  <% @tests.each do |test| %>
    <div class="card">
      <div class="card-header">
        <strong>
          <h1><%= test.name %> </h1>
        </strong>
      </div>
      <div  class="card-body">
        <p>
        <strong> Description: </strong> <%= test.description %> <br />
        <strong> Level:</strong> <%= test.level %> <br />
        <strong>Created by:</strong> <%= test.user&.full_name || 'DELETED' %></p>
              <%= link_to 'Start Test!', "/start_test/#{test.id}",  class: "btn btn-primary"%> 
      </div>

        <% if can? :create, current_user %>
      <div class="card-footer">

          <%= link_to 'View Questions', test %>&nbsp; 
        <% end %>
        <% if can? :update, test %>
          <%= link_to '| Edit Test Profile', edit_test_path(test) %> &nbsp;
        <% end %>
        <% if can? :destroy, test %>
          <%= link_to '| Delete Test', test, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>

    </div>
    <br />
  <% end %>
</div>


