
<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Points:</strong>
  <%= @test.points %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>

<section>
  <h1>Questions</h1>

  <%= form_with(model: [@test, @question], local: true) do |form| %>
    <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :a %>
    <%= form.text_field :a %>
    <%= form.label :b %>
    <%= form.text_field :b %>
    <%= form.label :c %>
    <%= form.text_field :c %>
    <%= form.label :d %>
    <%= form.text_field :d %>
    <%= form.label :correct %>
    <%= form.select :correct, [1, 2, 3, 4]%>  </div>

  <div class="actions">
    <%= form.submit "Save Question" %>
  </div>
  <% end %>

  <ol class="question-list">
    <% @questions.each do |question| %>
      <li>
        <p>
          <%= question.description %> <br>
          (1) <%= question.answers[0].content%> <br>
          (2) <%= question.answers[1].content%> <br>
          (3) <%= question.answers[2].content%> <br>
          (4) <%= question.answers[3].content%> <br>
          <strong>Solution: (<%= question.solution_id %>)</strong><br>
          <small>
            Created <%= time_ago_in_words(question.created_at) %> ago
          </small>
          •
          <small>
            <%=
              link_to(
                "Delete",
                test_question_path(@test, question),
                method: :delete,
                data: {
                  confirm: "Are you sure?"
                }
              )
            %> 
            <%= link_to("Edit", edit_test_question_url(@test, question))%>
          </small>
        </p>
      </li>
    <% end %>
  </ol>

  </section>
