<div class="card">
  <div class="card-header">
    <h1>Test Name: <%= @test.name %></h1>
  </div>
  <div class="card-body">
    <p> <strong> Description:</strong> <%= @test.description %> </p>
    <p><strong>Level:</strong><%= @test.level %></p>
    <p><strong>Points:</strong><%= @test.points %></p>
    <small>Created by: <%= @test.user&.full_name || 'DELETED' %></small>
  </p>
  <div class= "mb-3 mt-2">
    <% if can? :crud, @test %>
      <%= link_to 'Edit Test Profile', edit_test_path(@test), class: "btn btn-primary" %>
      <%= link_to 'Delete Test', test_path(@test), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<br />

  <% if @questions.length > 0%>
<div class="card">
<div class="card-header">    <h1>Questions</h1> </div>
<div class="card-body">
    <% counter = 1%>
    <% @questions.each do |question| %>
      <div class="card mb-4">
        <div class="card-header">
          <strong>
            Q<%= counter %>.
            <%= question.description %>
          </strong>
        </div>
        <div class="card-body">
          <p>
            (1) <%= question.answers[3].content%> <br>
            (2) <%= question.answers[2].content%> <br>
            (3) <%= question.answers[1].content%> <br>
            (4) <%= question.answers[0].content%> <br>
          </p>
          <strong>Solution: (<%= question.solution_id %>)</strong><br>
          <small>
            Created <%= time_ago_in_words(question.created_at) %> ago
          </small>
        </div>
        <div class="card-footer">
          <small>
            <%= link_to("Edit", edit_test_question_url(@test, question), :class=>"btn btn-primary")%>
            <%=
              link_to(
                "Delete",
                test_question_path(@test, question),
                method: :delete,
                data: {
                  confirm: "Are you sure?"
                }, :class=>"btn btn-primary"
              )
            %>
          </small>
        </div>
      </div>

      <% counter += 1%>
    <% end %>
    </div>
    </div>
<br />

  <% end %>


<div class="card">
<div class="card-header"><h1>Add New Question</h1></div>
<div class="card-body">
  <%= form_with(model: [@test, @question], local: true) do |form| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :description, "Question:" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    Answer:
    <div class="form-group">
      <%= form.label :a, "(1)" %>
      <%= form.text_field :a %> <br>
      <%= form.label :b, "(2)" %>
      <%= form.text_field :b %> <br>
      <%= form.label :c, "(3)" %>
      <%= form.text_field :c %> <br>
      <%= form.label :d, "(4)" %>
      <%= form.text_field :d %> <br>
      <%= form.label :correct, "Correct Answer:" %>
      <%= form.select :correct, [1, 2, 3, 4]%>  </div>
    <%= form.submit "Save Question", :class => "btn btn-primary mb-3" %>
  <% end %>
  </div>
</div>
