<!DOCTYPE html>
<html>
  <head>
    <title>Quizzer App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
<body>
<header>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">Quizzer University
   <i class="fas fa-brain"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <%= link_to("Home", root_path) %>
        </li>
        <%= link_to("Tests", tests_path) %>
   <% if user_signed_in? %>
          <% if current_user.is_teacher == true %>
          <li class="nav-item active" ">
            <%= link_to("New Test", new_test_path)  %> 
          </li>
          <% end %>
          <span>Hello <%= current_user.full_name %></span>
          <%= link_to "Sign Out", session_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"} %>
        <% else %>
          <%= link_to "Sign In", new_session_path %>
          <%= link_to "Sign Up", new_user_path %>
        <% end %>

      </ul>
    </div>
  </nav>

      <% flash.each do |type, message| %>
        <div class="flash flash-<%= type %>">
          <%= message %>
        </div>
      <% end %>
  </header>
   <div class="card-body">
  <%= yield %>
  </div>

</body>
</html>

